.user-profile {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 180px;
  width: 100%;
  height: 250px;
  border: 1px solid gray;
  background-color: rgba(0, 0, 128, 0.267);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-image {
  width: 120px;
  height: 120px;
  margin-top: 1rem;
  border: 4px solid rgb(46, 168, 156);
  border-radius: 50%;
}

.user-name {
  margin-top: 0.75rem;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
}

#view {
  text-align: center;
  display: block;
  margin: 1rem 1.5rem 0 1.5rem;
  padding: 0.4rem 1.5rem;
  border-style: none;
  border-radius: 5px;
  color: white;
  background-color: teal;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#view:hover {
  cursor: pointer;
}